@model IEnumerable<GerenciarDocumentos.Models.Entities.Documento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary form-control" >Novo Documento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revisao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPlanejada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revisao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPlanejada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
